/* <!-- */
/* General styles */
body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:768px;
	margin: auto;
	background:#333 url(/images/bg.gif) repeat;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}
div.flash {
	margin: 3px;
	text-align: center;
	padding: 1px;
/*	font-weight: bold;*/
	font-size: small;
	color: #333;
}
div.message {
	border: 1px solid #00f;
	background: #7A7AFF;
	color: #eee;
}
div.notice {
	border: 1px solid #0f0;
	color: #333;
	background: #7AFF7A;
}
div.error {
	border: 1px solid #f00;
	color: #333;
	background: #FF7A7A;
}
div.warning {
	border: 1px solid #ff0;
	background: #FFFF7A;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
	border: none;
}
/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
	border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#eee;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
.welcome {
	position: absolute;
	top: 15px;
	right: 163px;
	width: 200px;
	color: #fff;
	text-align: right;
	font-weight: bolder;
}
.welcome p {
	color: #fff;
	margin: 0px;
	padding: 0px;
}
.welcome a {
	color: #fff;
	margin: 0px;
	padding: 0px;
}

/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (right menu) settings */
.rightmenu {
	background:#eee;		/* right column background colour */
}
.rightmenu .colleft {
	right:25%;			/* right column width */
	background:#fff;		/* left column background colour */
}
.rightmenu .col1 {
	width:71%;			/* left column content width (left column width minus left and right padding) */
	left:27%;			/* (right column width) plus (left column left padding) */
}
.rightmenu .col2 {
	width:21%;			/* right column content width (right column width minus left and right padding) */
	left:31%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}
.rightmenu .col2 h2 {
	font-size: 1.2em;
}
.rightmenu .col2 p {
	font-size: 1em;
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
#footer p {
	padding:10px;
	margin:0;
}
/* --> */

